<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="SonarSNKRS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
</configSections>
  <appSettings>
    <add key="xsockets.license" value="25f818be-db6f-4334-bfad-2d30a69fe5fe"></add>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><applicationSettings>
        <SonarSNKRS.Properties.Settings>
            <setting name="e" serializeAs="String">
                <value />
            </setting>
        </SonarSNKRS.Properties.Settings>
    </applicationSettings>
</configuration>
